//added flex,mobile,mobile width mixins by mishal for warehouse tables
@use './variables' as *;

@mixin flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
  }
  
@mixin mobile {
@media (min-width: $mobile-width) {
    max-width: $mobile-width;
    margin: auto; 
    @content;
}
}