@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.home {
    &__header {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {
      cursor: pointer;
    }

    &__padding {
      height: 10rem;
    }
}

.wrapper {
  @include mobile{
    background: white;
  }
}